

body 
{
	margin:0;padding:0;
	background-color:#424242;
    max-width: 100%;
    overflow-x: hidden;
}
html
{
	//overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
}
h1,h2,h3,h4
{
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

@media all and (min-width: 1000px) 
{
	h1
	{
		font-size: 42px;
	}
	#About h3
	{
		font-size: 24px;
		width:50%;
	}
}
/**********************************************************************
*  CREATE TOP BAR                                                     *
*   - Includes Home, About, Services, Contact and Social Media Icons  *
*   - Stationary                                                      *
**********************************************************************/


/* List item declaration */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5C5C5C;
    top: 0;
    width: 100%;
	z-index:0;
}
.navbar img {
	width:auto;
	height:100px;
	margin:4px 0px 0px 5px;
}

.endbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5C5C5C;
    width: 100%;
	z-index:0;
}



@media all and (max-width: 1000px) {
	.navbar ul {display: none;}
}
/* Style list items */
@media all and (min-width: 600px) {
.navlistitem_right {
    float: right;
    line-height: 104px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}
.navlistitem_left {
    float: left;
    line-height: 104px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}
.endlistitem_left {
    float: left;
    line-height: 108px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}
.endlistitem_right {
    float: right;
    line-height: 108px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}}

/* Set custom spacer for space between social media and text links */
.navbar li:nth-child(5){

    width: 0.78%;
}
.endbar li:nth-child(1){

    width: 3.75%;
}
.endbar li:nth-child(5){

    width: 37.5%;
}


/* Set custom spacer for space between social media icons and right edge */
.navbar li:nth-child(1){

    width: 48px;
}

/* Style text links */
a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
	font-size: 20px;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


/* Style all social media icons */
li .fa {
    padding: 0px;
    font-size: 28px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: white;
}

/* Hover over non-active link */
a:hover:not(.active) {
    color:#F68A20;
}

/* Sets up active link */
.active {
    color:#F68A20;
}
/* Tiny reset thingy */
body,html{margin:0;padding:0;}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  position:relative;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  margin:0px;
  border:0px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100%;
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}


@media all and (max-width: 1000px)
{
.section  table td {
    display: block;
    font-size: 2.0em;
    text-align: right;
  }
 
 .section
 {
	 width:100%;
 }
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  box-sizing:border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
		background-size:cover;
		background-position:center;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

.parallax2::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  box-sizing:border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1.5px) scale(1.75);
  /* Force the background image to fill the whole element. */
		background-size:cover;
		background-position:center;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -2;
}

	
@media all and (max-width: 1000px) {

	.DesktopServices
	{
		display:none;
	}
}

@media all and (min-width: 1000px) {
	
	#MobileServices
	{
		display:none;
	}
	#MobileForeground
	{
		display:none;
	}
}


/* Static divider */
.static {
  min-height:80vh;
}



/* Sets the background image for parallax effect */
.bg1::after {
  background-image: url('../images/foreground.png');
  height:200vh;
}

.bg2::after {
  background-image: url('../images/background.jpg');
  height:200vh;
}


.fixedwrapper
{
	position:absolute;
}
.fixed
{ 
position:fixed;
}


table
{
	table-layout:fixed;
    border-collapse: collapse;
}
#contact_form
{
	width:100%;
}
#ContactUs input
{	
	width:120vh;
    background-color: #5C5C5C;
	color:white;
	
}

#contact_message
{
	width:120vh;
    background-color: #5C5C5C;
	color:white;
	height:30vh;
}

@media all and (min-width: 1000px) {
	#EndBar_Mobile
	{
		display:none;
	}

}
table, th, td {
    border: none;
}


@media all and (max-width: 1000px) {

	#contact_form
	{
		width:150vh;
	}
	#EndBar_Desktop
	{
		display:none;
	}
	#EndBar_Mobile li
	{
		display:inline;
		text-align: center;
	}
	#EndBar_Mobile li a
	{
		line-height: 104px;
		vertical-align: middle;
		text-align: center;
		margin-left:100px;
		margin-right:100px;
		font-size:4em;
	}
	#ContactUs
	{
		display:none;
	}
	#ContactUs input
	{	
		width:100%;	
		height:8vh;
		font-size:2.2em;
		text-align:center;
		color:gray;
	}


	#contact_message
	{
		width:100%;
		color:gray;
		font-size:2.2em;
		text-align:center;
	}
	#contact-submit
	{
		font-size:2.2em;
	}

}
 
	@media all and (orientation: portrait) 
	{
		#About
		{ 
			min-height:100vh;
			background:#424242;
		}
		#Services
		{
			min-height:100%;
			background: #424242;
		}
		h1
		{
			font-size: 90px;
		}
		#About h3
		{
			font-size: 40px;
			width:80%;
		}
		
	}
	 
	@media all and (orientation: landscape) 
	{
		#About
		{ 
			height:100%;
			min-height:100vh;
			background-size: 100vw 110vh;
			background-image: url('../images/test.png');
		}
		#Services
		{
			height:100%;
			background: #424242;
		}
		h1
		{
			font-size: 48px;
		}
		#About h3
		{
			font-size: 20px;
			width:80%;
		}

	}

#MobileForeground img
{
	width:90vw;
	height:auto;
}
#DesktopForeground img
{
	width:100vw;
	height:auto;
}
#About h3
{
	width:70%;
}
.AboutLink{}

.vl {
    border-left: 2px solid #F68A20;
    height: 70vh;
}
